# ==== Postgres ====
POSTGRES_USER=siemprecerca
POSTGRES_PASSWORD=siemprecerca_dev
POSTGRES_DB=siemprecerca

# ==== Backend ====
DATABASE_URL=postgresql+asyncpg://siemprecerca:siemprecerca_dev@localhost:5435/siemprecerca
REDIS_URL=redis://localhost:6382/0

# Seguridad
JWT_SECRET=cambia-esto-por-un-string-random-largo-minimo-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

# Admin inicial
ADMIN_EMAIL=admin@siemprecerca.app
ADMIN_PASSWORD=cambiar-antes-de-produccion

# CORS
CORS_ORIGINS=http://localhost:5176,http://localhost:3000

# URL publica del frontend
FRONTEND_URL=http://localhost:5176
# URL publica del backend
BACKEND_PUBLIC_URL=http://localhost:8300
